.All{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.Img{
    cursor: pointer;
}

.Profile{
    cursor: pointer;
    width: 70px;
    height: 70px;
    text-align:'right';
}

.Buscador{
    align-self: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.OrangeLine {
    border-bottom: 2px solid orange;
    margin-bottom: 20px;
    margin-top: 20px;
  }

.Links{
    padding-right:5vw;
    display: flex;
    justify-content: center;
    gap: 30px
}
  

.imagen:hover{
transform: scale(1.05);
}

@media screen and (max-width: 500px) {
.Img{
    width: 100px;
    height: 70px;
}  

.Buscador{
    width: 20px;
    height: 20px;
}

.Profile{
    width: 30px;
    height: 30px;
}

}
