.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupInner {
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 70%;
  max-width: 960px;
  max-height: 90vh;
  overflow-y: auto;
  z-index: 1001;
}

.closeBtn {
  font-size: 24px;
  line-height: 1;
  padding: 0;
  cursor: pointer;
  border: none;
  background: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.popupInner input {
  width: calc(100% - 20px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
