.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}


.img {
  border: rgb(255, 125, 49) 3px solid;
  border-radius: 10%;
  height: auto;
  width: 200px;
}

.left {
  padding-right: 50px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.Buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  
}

.Right {
  display: flex;
  flex-direction: column;
  align-items: column;
  width: 250%;
}

.Name{
  font-size: 50px;
  color: rgb(255, 125, 49);
  text-shadow: 2px 2px 7px #d89126;
  align-self: center;
  text-align: center;
}

.Text{
  width: 80%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info{
  display: flex;
  flex-direction: column;
}

h4 {
  font-size: 20px; 
  font-weight: bold;
  color:#ffffff ;
  margin-top: 20px;
  background-color: #FD8204;
  padding: 10px;
  width: 60vw;
  border-radius: 10px;
}

.Description{
  color: #FD8204;
  font-weight: 400px;
  text-align: left;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  width: 59vw;
}

.Members{
    display:flex;
    flex-flow: row ;
    flex-direction:row;
    gap:2vw;
    align-items:center; 
    justify-content:center;
    margin: 10px;
    margin-top: 0px;
    width: 20vw;
    border-radius: 10px;
    padding-left: 30vw;
}
.MembersContainer h4{
  font-size: 20px; 
  font-weight: bold;
  color:#ffffff ;
  margin-top: 20px;
  background-color: #FD8204;
  padding: 10px;

}
.MembersContainer {
  background-color: #FD8204;
  border-radius: 10px;
  width: 95%;
  height: 370px;
  margin: 5%;
  padding-bottom: 10px;
  
}

.position{
  display: flex;  
  flex-direction:column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.Afiliacion{
  display: flex;
  border: none;
  padding: 1vw 5vw;
  border-radius: 40px;
  border-color: #FD8204;
  background-color: #FD8204;
  font-size: 15px;
  color: white;
}

.Afiliacion:hover {
  background-color: rgb(185, 93, 40);
}

.Members {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
  
.Comments::before{
  content: "";
  height: 2px;
  background-color:#FD8204 ;
  display: block;
  margin-bottom: 10px;
}
  
  @media screen and (max-width: 690px) {
    .Name{
      font-size: 35px;
    }

    .icon{
      width: 80px;
      height: 80px;
    }
  }

  @media screen and (max-width: 450px) {
    .Name {
      font-size: 5vw; /* Tamaño de fuente relativo aún más pequeño para nombres */
    }
  
    .Description {
      font-size: 10px; /* Tamaño de fuente fijo para descripciones en pantallas más pequeñas */
    }
  
    .Afiliacion {
      padding: 1vw 1.5vw; /* Ajuste de relleno aún más pequeño para botones de afiliación */
      font-size: 3vw; /* Tamaño de fuente relativo aún más pequeño para botones de afiliación */
    }
  }
  

  @media screen and (max-width: 950px) {
    .container .img {
      display: none;
    }
  
    .Right {
      width: 100%;
    }
  
    .Buttons {
      flex-direction: column; /* Cambio de dirección de los botones en pantallas más pequeñas */
    }
  
    .Name {
      font-size: 4vw; /* Tamaño de fuente relativo para nombres en pantallas más pequeñas */
    }
  
    .Text {
      width: 95%; /* Ancho ajustado para tamaños más pequeños */
    }
  
    .Description {
      padding: 5px; /* Ajuste de relleno */
    }
  
    .Afiliacion {
      padding: 1vw 2vw; /* Ajuste de relleno */
      font-size: 2vw; /* Tamaño de fuente relativo */
    }
  }
