/* Estilos para el banner */
.banner {
    padding: 40px;
  }

  .searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .bar {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .inputbar {
    font-size: 2vh;
    color: rgb(255, 125, 49);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-left: 10px; 
  }
  
  .Img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    align-self: center;
  }
  
  .Buttons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .searchButton {
    position: relative;
    right: 1.25;
    font-size: 2vh;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 30px;
    border-color: rgb(255, 125, 49);
    background-color: rgb(255, 125, 49);
    cursor: pointer;
    width: 120px;
  }

  .option{
    font-size: 2vh;
    color: white;
    background-color: rgb(255, 125, 49)
  }
  
  .searchButton:hover {
    background-color: rgb(185, 93, 40);
  }
  
  /* Estilos para los resultados */
  .results {
    margin-top: 20px;
    margin-bottom: 20px ;
  }
  
  #Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .searchBar {
      flex-direction: column;
      align-items: stretch;
    }
  
    .bar {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .inputbar {
      width: 100%;
      margin-right: 0; 
    }
  
    .searchButton {
      margin-top: 10px;
    }
  
    .card {
      width: calc(50% - 20px);
    }
  }
  