/* Estilos para el banner */
.banner {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .searchBar {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Alinea los elementos alrededor */
  }
  
  .bar {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .inputbar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px; /* Añade margen a la derecha para separar el input del botón */
  }
  
  .Img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .Buttons {
    display: flex;
    align-items: center;
  }
  
  .searchButton {
    padding: 10px 20px;
    background-color: rgb(255, 125, 49);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: rgb(185, 93, 40);
  }
  
  /* Estilos para los resultados */
  .results {
    margin-top: 20px;
  }
  
  #Cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Estilos para la tarjeta del club */
  /* Ajusta estos estilos según tu necesidad */
  .card {
    width: 200px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .card h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
  }
  
  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .searchBar {
      flex-direction: column;
      align-items: stretch;
    }
  
    .bar {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .inputbar {
      width: 100%;
      margin-right: 0; /* Elimina el margen derecho para ocupar todo el ancho */
    }
  
    .Buttons {
      flex-direction: column;
    }
  
    .searchButton {
      margin-top: 10px;
    }
  
    .card {
      width: calc(50% - 20px);
    }
  }
  